html,
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
progress[value] {
	appearance: none;
	height: 8px;
  }
  progress[value]::-webkit-progress-value {
	background-color: #09c;
	border-radius: 2px;
  }
  progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }